<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加拓展信息</title>
</head>
<body>
 <form action="" method="post" enctype="multipart/form-data">
     {% csrf_token %}
        <table>
            <tr>
                <td><input type="hidden" value="{{ stu_id }}" name="stu_id"></td>
                <td>地址</td>
                <td><input type="text" name="addr"></td>
                <td>头像</td>
                <td><input type="file" name="img"></td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
            </tr>
        </table>
    </form>
</body>
</html>