<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示所有学生信息</title>
</head>
<body>
    {% comment %}
    {% for stuinfo in stuinfos %}
        姓名：{{ stuinfo.s.s_name }}
        电话：{{ stuinfo.s.s_tel }}
        地址：{{ stuinfo.s_addr }}
        头像：
        {% if stuinfo.s_image %}
            <img src="/media/{{ stuinfo.s_image }}" alt="" width="100" height="100">
        {% endif %}
        <br>
    {% endfor %}
    {% endcomment %}
    <a href="{% url 'stu:add' %}">添加学生</a><br>
    <h4>--------------- 分割线 ----------------</h4>
    <button id="displayStu">显示所有学生信息</button>
    <div id="div"><ol id="ol"></ol></div>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        $(function(){
            let urlStr = '/stuapp/student/';
            $('#displayStu').on('click',function () {
                $.ajax({
                    type:"get",
                    url:urlStr,
                    async:true,
                    dataType:'json',
                    error:function () {
                        alert('服务器不堪重负了');
                    },
                    success:function(obj){
                        for(let i = 0; i < obj.length; i++){
                            let content = $('<li>').text("姓名:"+ obj[i].s_name + "---电话:" + obj[i].s_tel +
                                                         "---地址:" + obj[i].s_addr);
                            $('#ol').append(content);
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>